doctype html
html
   head
      title
      include ../all/header
      link(rel="stylesheet" type="text/css" href="css/index.css")
      script(src="js/more.js")
   body

      //- for (var a = 0; a < 8; a++)
      //   div(class="more_list box_h center_s border_box")
      //      img(src="../temp_img/icon__.png")
      //      div(class="boxflex1")
      //         p(class="diandian") 应用名称应用名称应用名称应用名称应用名称应用名称应用名称
      //         span(class="diandian") 应用说明应用说明应用说明应用说明应用说明应用说明应用说明
      //      div(class="more_list_btn") 使用


      div(class="more_list box_h center_s border_box" id="more_list" style="display:none;")
         img(class="more_list_left" src="img/default_icon.png")
         div(class="boxflex1 more_list_left")
            p(class="diandian")
            span(class="diandian")
         div(class="more_list_btn") 使用