* {
  padding: 0;
  margin: 0;
  font-family: "microsoft yahei";
}
.headaContent {
  height: 2.2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 0.01rem solid gray;
}
.headaContent .headimg {
  display: inline-block;
  margin-left: 0.4rem;
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 0.4rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  overflow: hidden;
}
.headaContent .headimg img {
  width: 1.4rem;
  height: 1.4rem;
}
.headaContent .rightContent {
  height: 2.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  display: inline-block;
  position: relative;
  top: -0.4rem;
}
.headaContent .rightContent .wrap {
  position: relative;
}
.headaContent .rightContent span {
  font-size: 0.28rem;
  color: #3D3D3D;
}
.headaContent .rightContent .IDcard {
  color: #5856d6;
  font-size: 0.28rem;
  position: relative;
  top: 0.12rem;
}
.headaContent .rightContent .Right {
  position: relative;
  left: 1.5rem;
}
.headaContent .rightContent .Right:before {
  content: url(../images/myFamily_phone_icon.png);
}
.ULlist {
  border-top: 0.01rem solid gray;
  margin-top: 0.3rem;
}
.ULlist li {
  list-style: none;
  padding: 0 0.4rem;
  display: block;
  clear: both;
}
.ULlist li .cleft {
  float: left;
}
.ULlist li .cleft .ctext {
  font-size: 0.32rem;
  position: relative ;
  top: -0.12rem;
  margin-left: 0.1rem;
}
.ULlist li .cright {
  float: right;
}
.ULlist li .cleft,
.ULlist li .cright {
  display: inline-block;
}
