doctype html
html
   head
      title 收货地址
      include ../all/header
      link(rel="stylesheet" type="text/css" href="css/css.css")
      script(src="../all/ajax.js")
      script(src="js/index.js")
   body


      div(id="address_list" class="order_address_body" style="display:none;")
         div(class="order_address_main")
            div(class="order_address border_box")
               div(class="order_address_man box_h")
                  div(class='__address_name')
                  div(class="__address_phone")
                  a(class="__address_default" style="display:none;") 默认
               div(class="order_address_address border_box diandian")
            div(class="order_address_del") 删除

      //div(class="order_address_body")
      //   div(class="order_address_main" style="transform:translateX(-1.28rem)")
      //      div(class="order_address border_box")
      //         div(class="order_address_man box_h")
      //            div 姓名
      //            div 12312312312
      //            a 默认
      //         div(class="order_address_address border_box diandian") 四川成都地址四川成都地址四川成都地址四川成都地址四川成都地址
      //      div(class="order_address_del") 删除