.commodity_list{
    font-size: 0.28rem;
}
.commodity_family_list{
    font-size: 0.28rem;
    padding-left: 0.4rem;
    position: relative;
}
.all_line{
    border-top: 1px solid #e5e5e5;
}
.commodity_pro{
    font-size: 0.32rem;
    height: 2.2rem;
}
.commodity_pro_family{
    font-size: 0.32rem;
    height: 1.8rem;
}
.commodity_pro_img{
    margin-left: 0.4rem;
    width: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    border-radius: 5rem;
}
.commodity_pro_img>img{
    width:1.4rem;
    height: 1.4rem;
}
.commodity_family_img{
    margin-left: 0.4rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
    border-radius: 5rem;
}
.commodity_family_img>img{
    width:1rem;
    height: 1rem;
}
.commodity_pro_text>span.jz_name{
    font-size: 0.32rem;
    color: #313131;
    padding-left: 0.4rem;
}
.jz_name_family{
    font-size: 0.28rem;
    color: #313131;
    padding-left: 0.4rem;
}
.commodity_price{
    margin-top: 0.28rem;
    font-size: 0.28rem;
    color: #aaa;
}
.commodity_price_family{
    margin-top: 0.18rem;
    font-size: 0.28rem;
    color: #aaa;
}
.jz_phoneNum{
    float: right;
    text-align: right;
    padding-right: 0.4rem;
    font-size: 0.28rem;
    padding-top: 0.04rem;
    position: relative;
}
.commodity_price_price{
    padding-left: 0.4rem;
    color: #5856d6;
}
.jz_phoneNum:before{
    content: url("../images/myFamily_phone_icon.png");
    position: absolute;
    left: -0.26rem;
    top: 0.06rem;
}
.div_line{
    height: 0.2rem;
    background-color: #eee;
    border-top: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.myInfo_button{
    display: block;
    width: 6.7rem;
    height: 0.9rem;
    font-size: 0.32rem;
    margin: 0 auto;
    /*margin-top: 0.8rem;*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 5rem;
    color: #fff;
    background-color: #5856d6;
}

